.text-align\:left { text-align: left !important; }
.text-align\:center { text-align: center !important; }
.text-align\:right { text-align: right !important; }

.justify-content\:center { justify-content: center !important; }
.justify-content\:start { justify-content: start !important; }
.justify-content\:end { justify-content: end !important; }
.justify-content\:between { justify-content: space-between !important; }
.justify-content\:around { justify-content: space-around !important; }
.justify-content\:evenly { justify-content: space-evenly !important; }

.align-items\:center { align-items: center !important; }
.align-items\:start { align-items: start !important; }
.align-items\:end { align-items: end !important; }
.align-items\:baseline { align-items: baseline !important; }
.align-items\:stretch { align-items: stretch !important; }

.align-self\:center { align-self: center !important; }
.align-self\:start { align-self: flex-start !important; }
.align-self\:end { align-self: flex-end !important; }
.align-self\:baseline { align-self: baseline !important; }
.align-self\:stretch { align-self: stretch !important; }

.justify-self\:center { justify-self: center !important; }
.justify-self\:start { justify-self: flex-start !important; }
.justify-self\:end { justify-self: flex-end !important; }
.justify-self\:baseline { justify-self: baseline !important; }
.justify-self\:stretch { justify-self: stretch !important; }


.padding-block\:0 { padding-block: 0 !important; }
.padding-block\:3xs { padding-block: var(--space-3xs) !important; }
.padding-block\:2xs { padding-block: var(--space-2xs) !important; }
.padding-block\:xs { padding-block: var(--space-xs) !important; }
.padding-block\:s { padding-block: var(--space-s) !important; }
.padding-block\:m { padding-block: var(--space-m) !important; }
.padding-block\:l { padding-block: var(--space-l) !important; }
.padding-block\:xl { padding-block: var(--space-xl) !important; }
.padding-block\:2xl { padding-block: var(--space-2xl) !important; }
.padding-block\:3xl { padding-block: var(--space-3xl) !important; }

.padding-inline\:0 { padding-inline: 0 !important; }
.padding-inline\:3xs { padding-inline: var(--space-3xs) !important; }
.padding-inline\:2xs { padding-inline: var(--space-2xs) !important; }
.padding-inline\:xs { padding-inline: var(--space-xs) !important; }
.padding-inline\:s { padding-inline: var(--space-s) !important; }
.padding-inline\:m { padding-inline: var(--space-m) !important; }
.padding-inline\:l { padding-inline: var(--space-l) !important; }
.padding-inline\:xl { padding-inline: var(--space-xl) !important; }
.padding-inline\:2xl { padding-inline: var(--space-2xl) !important; }
.padding-inline\:3xl { padding-inline: var(--space-3xl) !important; }

.padding-left\:0 { padding-left: 0 !important; }
.padding-left\:3xs { padding-left: var(--space-3xs) !important; }
.padding-left\:2xs { padding-left: var(--space-2xs) !important; }
.padding-left\:xs { padding-left: var(--space-xs) !important; }
.padding-left\:s { padding-left: var(--space-s) !important; }
.padding-left\:m { padding-left: var(--space-m) !important; }
.padding-left\:l { padding-left: var(--space-l) !important; }
.padding-left\:xl { padding-left: var(--space-xl) !important; }
.padding-left\:2xl { padding-left: var(--space-2xl) !important; }
.padding-left\:3xl { padding-left: var(--space-3xl) !important; }

.padding-right\:0 { padding-right: 0 !important; }
.padding-right\:3xs { padding-right: var(--space-3xs) !important; }
.padding-right\:2xs { padding-right: var(--space-2xs) !important; }
.padding-right\:xs { padding-right: var(--space-xs) !important; }
.padding-right\:s { padding-right: var(--space-s) !important; }
.padding-right\:m { padding-right: var(--space-m) !important; }
.padding-right\:l { padding-right: var(--space-l) !important; }
.padding-right\:xl { padding-right: var(--space-xl) !important; }
.padding-right\:2xl { padding-right: var(--space-2xl) !important; }
.padding-right\:3xl { padding-right: var(--space-3xl) !important; }

.padding-top\:0 { padding-top: 0 !important; }
.padding-top\:3xs { padding-top: var(--space-3xs) !important; }
.padding-top\:2xs { padding-top: var(--space-2xs) !important; }
.padding-top\:xs { padding-top: var(--space-xs) !important; }
.padding-top\:s { padding-top: var(--space-s) !important; }
.padding-top\:m { padding-top: var(--space-m) !important; }
.padding-top\:l { padding-top: var(--space-l) !important; }
.padding-top\:xl { padding-top: var(--space-xl) !important; }
.padding-top\:2xl { padding-top: var(--space-2xl) !important; }
.padding-top\:3xl { padding-top: var(--space-3xl) !important; }

.padding-bottom\:0 { padding-bottom: 0 !important; }
.padding-bottom\:3xs { padding-bottom: var(--space-3xs) !important; }
  .padding-bottom\:2xs { padding-bottom: var(--space-2xs) !important; }
.padding-bottom\:xs { padding-bottom: var(--space-xs) !important; }
.padding-bottom\:s { padding-bottom: var(--space-s) !important; }
.padding-bottom\:m { padding-bottom: var(--space-m) !important; }
.padding-bottom\:l { padding-bottom: var(--space-l) !important; }
.padding-bottom\:xl { padding-bottom: var(--space-xl) !important; }
.padding-bottom\:2xl { padding-bottom: var(--space-2xl) !important; }
.padding-bottom\:3xl { padding-bottom: var(--space-3xl) !important; }

.margin-block\:0 { margin-block: 0 !important; }
.margin-block\:3xs { margin-block: var(--space-3xs) !important; }
.margin-block\:2xs { margin-block: var(--space-2xs) !important; }
.margin-block\:xs { margin-block: var(--space-xs) !important; }
.margin-block\:s { margin-block: var(--space-s) !important; }
.margin-block\:m { margin-block: var(--space-m) !important; }
.margin-block\:l { margin-block: var(--space-l) !important; }
.margin-block\:xl { margin-block: var(--space-xl) !important; }
.margin-block\:2xl { margin-block: var(--space-2xl) !important; }
.margin-block\:3xl { margin-block: var(--space-3xl) !important; }

.margin-inline\:0 { margin-inline: 0 !important; }
.margin-inline\:3xs { margin-inline: var(--space-3xs) !important; }
.margin-inline\:2xs { margin-inline: var(--space-2xs) !important; }
.margin-inline\:xs { margin-inline: var(--space-xs) !important; }
.margin-inline\:s { margin-inline: var(--space-s) !important; }
.margin-inline\:m { margin-inline: var(--space-m) !important; }
.margin-inline\:l { margin-inline: var(--space-l) !important; }
.margin-inline\:xl { margin-inline: var(--space-xl) !important; }
.margin-inline\:2xl { margin-inline: var(--space-2xl) !important; }
.margin-inline\:3xl { margin-inline: var(--space-3xl) !important; }

.margin-left\:0 { margin-left: 0 !important; }
.margin-left\:3xs { margin-left: var(--space-3xs) !important; }
.margin-left\:2xs { margin-left: var(--space-2xs) !important; }
.margin-left\:xs { margin-left: var(--space-xs) !important; }
.margin-left\:s { margin-left: var(--space-s) !important; }
.margin-left\:m { margin-left: var(--space-m) !important; }
.margin-left\:l { margin-left: var(--space-l) !important; }
.margin-left\:xl { margin-left: var(--space-xl) !important; }
.margin-left\:2xl { margin-left: var(--space-2xl) !important; }
.margin-left\:3xl { margin-left: var(--space-3xl) !important; }

.margin-right\:0 { margin-right: 0 !important; }
.margin-right\:3xs { margin-right: var(--space-3xs) !important; }
.margin-right\:2xs { margin-right: var(--space-2xs) !important; }
.margin-right\:xs { margin-right: var(--space-xs) !important; }
.margin-right\:s { margin-right: var(--space-s) !important; }
.margin-right\:m { margin-right: var(--space-m) !important; }
.margin-right\:l { margin-right: var(--space-l) !important; }
.margin-right\:xl { margin-right: var(--space-xl) !important; }
.margin-right\:2xl { margin-right: var(--space-2xl) !important; }
.margin-right\:3xl { margin-right: var(--space-3xl) !important; }

.margin-top\:0 { margin-top: 0 !important; }
.margin-top\:3xs { margin-top: var(--space-3xs) !important; }
.margin-top\:2xs { margin-top: var(--space-2xs) !important; }
.margin-top\:xs { margin-top: var(--space-xs) !important; }
.margin-top\:s { margin-top: var(--space-s) !important; }
.margin-top\:m { margin-top: var(--space-m) !important; }
.margin-top\:l { margin-top: var(--space-l) !important; }
.margin-top\:xl { margin-top: var(--space-xl) !important; }
.margin-top\:2xl { margin-top: var(--space-2xl) !important; }
.margin-top\:3xl { margin-top: var(--space-3xl) !important; }

.margin-bottom\:0 { margin-bottom: 0 !important; }
.margin-bottom\:3xs { margin-bottom: var(--space-3xs) !important; }
.margin-bottom\:2xs { margin-bottom: var(--space-2xs) !important; }
.margin-bottom\:xs { margin-bottom: var(--space-xs) !important; }
.margin-bottom\:s { margin-bottom: var(--space-s) !important; }
.margin-bottom\:m { margin-bottom: var(--space-m) !important; }
.margin-bottom\:l { margin-bottom: var(--space-l) !important; }
.margin-bottom\:xl { margin-bottom: var(--space-xl) !important; }
.margin-bottom\:2xl { margin-bottom: var(--space-2xl) !important; }
.margin-bottom\:3xl { margin-bottom: var(--space-3xl) !important; }


.margin-block-start\:auto { margin-block-start: auto !important; }
.margin-block-end\:auto { margin-block-end: auto !important; }
.margin-inline-start\:auto { margin-inline-start: auto !important; }
.margin-inline-end\:auto { margin-inline-end: auto !important; }
.margin-top\:auto { margin-top: auto !important; }
.margin-bottom\:auto { margin-bottom: auto !important; }
.margin-left\:auto { margin-left: auto !important; }
.margin-right\:auto { margin-right: auto !important; }